body {
  background: linear-gradient(to top right, #5143e8, #9387ff);
  height: 1700px;
}

.result {
  font-size: 20px;
  display: none;
}

h1 {
  text-align: center;
}

img {
  width: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imgbox {
  margin: auto;
}

.dialogueBox {
  text-align: center;
  height: 450px;
  overflow: auto;
}

input#inputTxt, input#inputName, label, button.btn {
  width: 325px;
  text-align: center;
}

div.col-md-4.robot, div.col-md-4.human {
  border: black 1px solid;
  height: 700px;
}

div.col-md-4 {
  text-align: center;
}
